body {margin:0; padding:0; background:#fff;}
#slidebox{position:relative; border:1px solid #ccc; margin:10px auto;overflow:hidden;}
#slidebox, #slidebox ul {width:890px;height:650px;}
#slidebox, #slidebox ul li{width:890px;height:650px;}
#slidebox ul li{position:relative; right:01; background:#ffffff; float:left;list-style: none; padding:05px 01px;  font-family:Verdana, Geneva, sans-serif; font-size:13px;}

#slidebox .next, #slidebox .previous{position:absolute; z-index:2; display:block; width:21px; height:21px;top:139px;}
#slidebox .next{right:0; margin-right:10px; background:url(../java_script/slidebox_next.png) no-repeat left top;}
#slidebox .next:hover{background:url(../java_script/slidebox_next_hover.png) no-repeat left top;}

#slidebox .previous{margin-left:10px; background:url(../java_script/slidebox_previous.png) no-repeat left top;}
#slidebox .previous:hover{background:url(../java_script/slidebox_previous_hover.png) no-repeat left top;}

#slidebox .thumbs{position:absolute; z-index:2; bottom:595px; right:50px;}

#slidebox .thumbs a{display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:11px; text-decoration:none; padding:2px 4px; background:url(../java_script/slidebox_thumb.png); color:#fff;}
#slidebox .thumbs a:hover{background:#cccccc; color:#000;}
#slidebox .thumbs .thumbActive{background:#fff; color:#000; display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:13px; text-decoration:none; padding:2px 4px;}
-->